* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #002339;
  color: #fff;
}

.container {
  margin: 12%;
  width: 90%;
  max-width: 700px;
}

.display {
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  background: #fff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 20px;
  border-radius: 5px;
}

.container h1 {
  font-weight: 500;
  font-size: 45px;
}

.container h1 span {
  color: #019f55;
  border-bottom: 2px solid #019f55;
  padding-botoom: 7px;
}

.display img {
  width: 30px;
  cursor: pointer;
}

.display input {
  border: 0;
  outline: 0;
  padding: 24px;
}

.container button img {
  width: 28px;
  margin-right: 10px;
}

.container button {
  border: 0;
  outline: 0;
  background: #019f55;
  color: #fff;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 26px;
  border-radius: 5px;
  cursor: pointer;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  z-index: 1000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: visible;
}

.floating-button img {
  width: 50%;
  height: 50%;
  filter: invert(0);
}

.floating-button:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}

.tooltip {
  position: absolute;
  bottom: 70px;
  right: 115px;
  transform: translateX(50%);
  background-color: #000;
  color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  text-align: left;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.floating-button:hover .tooltip {
  opacity: 1;
  visibility: visible;
}

